@import 'variables';
@import 'mixins/hide';
@import 'mixins/centering';
@import 'mixins/unselectable';
@import 'mixins/button';
@import 'mixins/icons';

@import 'menu-size-adjust';

$menu-background-color: rgba(255, 255, 255, 0.9);
$menu-apply-btn-height: 10%;

.menu-container {
  display: inline-block;
  overflow-y: hidden;
  padding: 0;
  margin: 0;
  input[type=checkbox].toggle-menu-visible {
    @include visuallyhidden;
    & + label {
      @include icon-button($fa-var-bars);
      position: absolute;
    }
    &:checked + label {
      z-index: 10;
      color: #333;
      @include icon($fa-var-caret-square-o-left);
    }
    /**
     * Menu hide/show toggle implementation
     */
    & ~ .menu-content,
    & ~ .menu-timeline-container {
      visibility: hidden;
      z-index: 1;
    }
    &:checked {
      & ~ .menu-content,
      & ~ .menu-timeline-container {
        visibility: visible;
      }
    }
  }

  .menu-content {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    .menu-content-inner {
      background-color: $menu-background-color;
      overflow-y: scroll;
      /* This asserts that menu items won't be
       * hidden by apply button if a scroll bar
       * becomes visible */
      &:after {
        content: "";
        display: block;
        height: 10%;
        min-height: 20px;
      }

      /**
       * Load/Store/Reset Buttons
       */
      .menu-state-ctrl-buttons {
        display: flex;
        justify-content: center;
        @mixin load-store-btn {
          @include btn-base;
          font-size: 1em;
          padding: 5px;
          margin: 5px;
        }
        .menu-btn-importstate {
          @include icon($fa-var-folder-open);
          @include load-store-btn;
          & > input[type="file"] {
            @include visuallyhidden;
          }
        }
        .menu-btn-exportstate {
          @include icon($fa-var-download);
          @include load-store-btn;
        }
        .menu-btn-resetstate {
          @include icon($fa-var-trash);
          @include load-store-btn;
        }
      }

      .menu-select-preset-control {
        display: block;
        text-align: center;
      }
      
      /**
       * Effects list
       */
      .menu-effect-list {
        $item-spacing: 10px;
        display: flex;
        padding: 0;
        margin-top: -$item-spacing / 2;
        margin-left: -$item-spacing / 2;
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        list-style-type: none;
        /* Effect boxes */
        & > li {
          @include vCenterText;
          @include unselectable;
          cursor: -moz-grab;
          cursor: -webkit-grab;
          cursor: grab;
          flex: 1;
          background-color: rgba(0, 0, 0, 0.3);
          text-align: center;
          width: 8em;
          height: 4em;
          white-space: nowrap;
          margin-top: $item-spacing;
          margin-left: $item-spacing;
          padding: 0 3px;
        }
        @for $i from 1 through length($effect-colors) {
          & > li:nth-child(#{$i}) {
            background-color: lighten(nth($effect-colors, $i), 20%);
          }
        }
        @at-root #modal-container {
          .effect-list-item.drag-drop-copy {
            @include vCenterText;
            @include unselectable;
            cursor: -moz-grabbing;
            cursor: -webkit-grabbing;
            cursor: grabbing;
            text-align: center;
            background-color: rgba(0, 0, 0, 0.3);
          }
        }
      }
    }
  }

  .menu-timeline-container {
    position: absolute;
    background-color: $menu-background-color;
  }

  .menu-btn-apply {
    @at-root {
      @keyframes pulse-glow {
        $glow-color: darken($apply-btn-active-color, 20%);
        from { background-color: $apply-btn-active-color; box-shadow: 0 0 9px #fff inset; }
        50% { background-color: $glow-color; box-shadow: 0 0 18px $glow-color inset; }
        to { background-color: $apply-btn-active-color; box-shadow: 0 0 9px #fff inset; }
      }
    }
    animation-name: pulse-glow;
    animation-duration: 4s;
    animation-iteration-count: infinite;

    display: block;
    position: absolute;
    height: $menu-apply-btn-height;
    min-height: 20px;
    width: 100%;
    bottom: 0;
    border: none;
    background-color: $apply-btn-active-color;
    color: #eee;
    cursor: pointer;
    &[disabled] {
      cursor: not-allowed;
    }
    font-size: 110%;
    &:hover,
    &:focus {
      background-color: $apply-btn-focus-color;
    }
    &[disabled] {
      animation: none;
      background-color: $apply-btn-inactive-color;
      &:hover,
      &:focus {
        background-color: $apply-btn-inactive-color;
      }
    }
  }
}

@mixin menu-responsiveness(
  $icon-btn-font-size,
  $button-edge-dist,
  $menu-width,
  $menu-height,
  $timeline-height
) {
  .menu-container {
    input[type=checkbox].toggle-menu-visible {
      & + label {
        font-size: $icon-btn-font-size;;
        top: $button-edge-dist;
        left: $button-edge-dist;
      }
      &:checked + label {
        left: $menu-width;
        transform: translateX(-100%);
        margin-left: -$button-edge-dist;
      }
    }
    .menu-content {
      width: $menu-width;
      .menu-content-inner {
        @if $menu-width == 100% {
          height: $menu-height - $menu-apply-btn-height;
        } @else {
          height: $menu-height;
        }
        /* Vertical padding is not allowed
         * because we only have the space
         * between top and apply button */
        padding: 0 $button-edge-dist;
        /* but we can fake with :before and :after */
        &:before {
          content: "";
          display: block;
          margin-bottom: $button-edge-dist;
        }
        &:after {
          content: "";
          display: block;
          margin-top: $button-edge-dist;
        }
      }
    }
    .menu-timeline-container {
      @if $menu-width == 100% {
        left: 0;
        width: $menu-width;
        height: 100% - $menu-height;
        bottom: $menu-apply-btn-height;
        border-top: solid 1px #333;
      } @else {
        left: $menu-width;
        width: 100% - $menu-width;
        height: $timeline-height;
        bottom: 0;
        border-top: none;
      }
    }
  }
}
