.menu-container {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  display: block;
  overflow-y: auto;
  padding: 0;
  margin: 0;
  input[type=checkbox].toggle-menu-visible {
    @include visuallyhidden;
    & + label {
      @include icon-button($fa-var-bars);
      position: absolute;
    }
    &:checked + label {
      z-index: 10;
      color: #333;
      @include icon($fa-var-caret-square-o-left);
    }

    & + label + .menu-content {
      display: none;
      z-index: 1;
    }
    &:checked ~ .menu-content {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.9);;
    }
  }
  .menu-btn-apply {
    display: block;
    position: absolute;
    height: 7%;
    min-height: 20px;
    width: 100%;
    bottom: 0;
    border: none;
    background-color: #5CB85C;
    color: #eee;
    cursor: pointer;
    &[disabled] {
      cursor: not-allowed;
    }
    font-size: 110%;
    &:hover,
    &:focus {
      background-color: #449D44;
    }
    &[disabled] {
       &:hover,
        &:focus {
          background-color: #5CB85C;
        }
    }
  }
}
