@import 'mixins/unselectable';

.menu-size-adjust-handle {
  position: absolute;
  top: 0;
  right: 0;
  width: 3px;
  height: 100%;
  cursor: ew-resize;
  @include unselectable;

  display: none; /* this will be overridden by js */
}

.timeline-size-adjust-handle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  cursor: ns-resize;
  @include unselectable;

  display: none; /* this will be overridden by js */
}
