@import 'mixins/centering';

.menu-timeline-container {
  overflow-y: scroll;
  .menu-timeline-content {
    min-width: 100%;
    text-align: left;
    overflow: scroll;
    .menu-timeline-header {
      .menu-timeline-timetick {
        transform: translateX(-50%);
      }
    }

    .menu-timeline-tracks {
      /* Timeline tracks */
      & > tr {
        height: 4em;
        & > td {
          height: inherit;
          border: solid 1px #000;
          margin: 0;
          padding: 0;
          border-spacing: 0;
        
          & > h3 {
            text-align: center;
            white-space: nowrap; /* TODO this should change on mobile */
            &:after {
              content: ":";
            }
          }
          & > ol {
            list-style-type: none;
            padding: 0;
            margin: 0;
            height: 100%;
            position: relative;
            
            /* Timeline Entries */
            & > li {
              position: absolute;
              height: 100%;
              display: inline-block;
              border: solid 1px #000;
              box-sizing: border-box;
              @include vCenterText;
              & > button {
                width: 100%;
                height: 100%;
                background: #eee;
                border: none;
                text-align: left;
                text-overflow: ellipsis;
                overflow: hidden;
              }
            }
          }
        }
      }
    }
  }
  .menu-timeline-position-indicator {
    display: block;
    position: absolute;
    top: 0;
    right: -2px; /* Make this less visible on page load */
    width: 2px;
    height: 100%;
    background-color: #f00;
  }
}
