@import 'mixins/centering';
@import 'mixins/unselectable';
@import 'mixins/icons';
@import 'mixins/hide';
@import 'mixins/button';

.menu-timeline-container {
  .menu-timeline-scrollable-container {
    overflow-y: scroll;
    display: block;
    width: 100%;
    height: 100%;
    .menu-timeline-content {
      min-width: 100%;
      text-align: left;
      overflow: scroll;

      tr {
        & > th:first-child,
        & > td:first-child {
          white-space: nowrap;
          width: 1px;
        }
        & > th:first-child + th,
        & > td:first-child + td {
          border-left: 10px solid transparent;
        }
        th {
          position: relative;

          @mixin timeline-icon-btn($icon) {
            @include btn-base;
            @include icon($icon);
            display: inline-block;
            padding: 2px;
            margin-right: 1px;
            font-size: 1em;
            width: 17px;
            height: 17px;
          }
          .menu-timeline-zoom-in {
            @include timeline-icon-btn($fa-var-search-plus);
          }
          .menu-timeline-zoom-out {
            @include timeline-icon-btn($fa-var-search-minus);
          }
          .menu-timeline-pause {
            @include timeline-icon-btn($fa-var-pause);
            &.paused {
              @include icon($fa-var-play);
            }
          }
          #menu-timeline-randomplay {
            @include visuallyhidden;
            & + label {
              @include timeline-icon-btn($fa-var-random);
            }
            &:checked + label {
              background-color: $randomize-btn-active-color;
            }
          }

          &.menu-timeline-timeticks {
            cursor: pointer;
            .menu-timeline-timetick {
              position: absolute;
              bottom: 0;
              @include unselectable;
            }
          }
        }
      }

      .menu-timeline-tracks {
        /* Timeline tracks */
        & > tr {
          height: 4em;
          & > td {
            height: inherit;
            padding: 0;

            & > h3 {
              text-align: center;
              margin: 0;
              &:after {
                content: ":";
              }
            }
            & > ol {
              list-style-type: none;
              padding: 0;
              margin: 0;
              height: 100%;
              position: relative;
              border: solid 1px #000;

              /* Timeline Entries */
              & > li {
                position: absolute;
                height: 100%;
                display: inline-block;
                border: solid 1px #000;
                box-sizing: border-box;

                .timeline-entry-begin-time-adjust,
                .timeline-entry-end-time-adjust {
                  position: absolute;
                  display: inline-block;
                  height: 100%;
                  width: 5px;
                  cursor: ew-resize;
                  background: #333;
                  visibility: hidden;
                  padding: 1px 0; /* compensate missing border */
                  top: -1px; /* also for missing border */
                }
                .timeline-entry-begin-time-adjust {
                  left: -5px;
                }
                .timeline-entry-end-time-adjust {
                  right: -5px;
                }
                &:hover {
                  .timeline-entry-begin-time-adjust,
                  .timeline-entry-end-time-adjust {
                    visibility: visible;
                  }
                }

                & > button {
                  display: inline-block;
                  padding: 0;
                  cursor: -moz-grab;
                  cursor: -webkit-grab;
                  cursor: grab;
                  width: 100%;
                  height: 100%;
                  color: #000;
                  background: #eee;
                  border: none;
                  text-align: left;
                  text-overflow: ellipsis;
                  overflow: hidden;
                  @include unselectable;
                }
              }
            }
          }
        }
      }
    }
  }
  .menu-timeline-position-indicator {
    display: block;
    position: absolute;
    top: 0;
    right: -2px; /* Make this less visible on page load */
    width: 2px;
    height: 100%;
    background-color: #f00;
  }
}
