$apply-btn-active-color: #5cb85c;
$apply-btn-focus-color: #449d44;

$randomize-btn-active-color: #5cb85c;
$ui-disabled-text-color: #aaa;
$apply-btn-inactive-color: $ui-disabled-text-color;

$effect-colors: (
  rgb(211,79,52),
  rgb(98,112,225),
  rgb(90,183,78),
  rgb(176,95,211),
  rgb(219,156,54),
  rgb(209,78,175),
  rgb(79,182,148),
  rgb(219,68,120),
  rgb(82,119,51),
  rgb(110,85,168),
  rgb(150,174,62),
  rgb(75,121,187),
  rgb(163,175,104),
  rgb(156,84,154),
  rgb(171,117,61),
  rgb(80,179,221),
  rgb(204,109,101),
  rgb(164,152,224),
  rgb(159,68,100),
  rgb(221,135,188)
);
