$fa-font-path: "./fonts";
@import 'font-awesome/scss/font-awesome';

$main-text-color: #333;

html,
body {
  margin: 0px;
  padding: 0px;
  background-color: #333;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

@mixin icon($fa-icon) {
  /* the default mixins set font-size, which interferes when changing icons depenging on state */
  /* @include fa-icon; // in _mixins.scss */
  /* @extend .#{$fa-css-prefix}; // in _core.scss*/
  font-family: FontAwesome;
  &:before {
    content: $fa-icon;
  }
}
@mixin visuallyhidden() {
  position: absolute !important;
  height: 0.1px;
  width: 0.1px;
  opacity: 0;
  z-index: -1;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}
@mixin icon-button($fa-icon) {
  @include icon($fa-icon);
  cursor: pointer; /* "hand" cursor */
  padding: 0;
  color: #eee;
  display: inline-block;
  &:focus,
  &:hover {
    color: #fff;
  }
}

.menu-container {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  overflow-y: auto;
  padding: 0;
  margin: 0;
  input[type=checkbox].toggle-menu-visible {
    @include visuallyhidden;
    & + label {
      @include icon-button($fa-var-bars);
      position: absolute;
    }
    &:checked + label {
      z-index: 10;
      color: #333;
      @include icon($fa-var-caret-square-o-left);
    }

    & + label + .menu-content {
      display: none;
      z-index: 1;
    }
    &:checked ~ .menu-content {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #eee;
      .menu-content-inner {
        margin: 20px;
      }
    }
  }
}

.btn-file-select {
	@include visuallyhidden;
  & + label {
    @include icon-button($fa-var-upload);

    text-align: center;
    position: absolute;
    display: inline-block;
    border-radius: 50%;
    border: solid 2px #eee;
  }

  &:focus + label,
  & + label:hover {
    background-color: #fff;
    border-color: $main-text-color;
    color: $main-text-color;
  }
  &:focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
  }
}

.btn-fullscreen {
  @include icon-button($fa-var-expand);
  position: absolute;
  background-color: transparent;
  border: none;
  .fullscreen &  {
     @include icon($fa-var-compress);
  }
}

.main-canvas {
  width: 100%;
  height: 100%;
  z-index: -1;
}

.file-drag-indicator {
  display: none;
  position: absolute;
  width: 50%;
  height: 50%;
  text-align: center;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background-color: #eee;
  .dragging-file & {
    display: block;
  }
}


/* ===================================================================
 *
 * =================================================================== */

@mixin ui-elements($icon-btn-font-size, $button-edge-dist) {
  .menu-container {
    width: 20%;
    height: 100%;
    input[type=checkbox].toggle-menu-visible {
      & + label {
        font-size: $icon-btn-font-size;;
        top: $button-edge-dist;
        left: $button-edge-dist;
      }
      &:checked + label {
        right: $button-edge-dist;
        left: initial;
      }
    }
  }
  .btn-fullscreen {
    font-size: $icon-btn-font-size;;
    top: $button-edge-dist;
    right: $button-edge-dist;
  }
  .btn-file-select + label {
    font-size: $icon-btn-font-size;;
    
    right: $button-edge-dist;
    bottom: $button-edge-dist;

    $circle-size: 1.5 * $icon-btn-font-size;
    width: $circle-size;
    height: $circle-size;
    line-height: $circle-size;
  }
}

@media (min-width:320px)  {
  /* smartphones, iPhone, portrait 480x320 phones */
  $icon-btn-font-size: 3cm;
  $button-edge-dist: 2cm;
  @include ui-elements($icon-btn-font-size, $button-edge-dist);
}
@media (min-width:481px)  {
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
  $icon-btn-font-size: 3cm;
  $button-edge-dist: 2cm;
  @include ui-elements($icon-btn-font-size, $button-edge-dist);
}
@media (min-width:641px)  {
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
  $icon-btn-font-size: 3cm;
  $button-edge-dist: 2cm;
  @include ui-elements($icon-btn-font-size, $button-edge-dist);
}
@media (min-width:961px)  {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  $icon-btn-font-size: 2cm;
  $button-edge-dist: 1.5cm;
  @include ui-elements($icon-btn-font-size, $button-edge-dist);
}
@media (min-width:1025px) {
  /* big landscape tablets, laptops, and desktops */
  $icon-btn-font-size: 1.5cm;
  $button-edge-dist: 1cm;
  @include ui-elements($icon-btn-font-size, $button-edge-dist);
}
@media (min-width:1281px) {
  /* hi-res laptops and desktops */
  $icon-btn-font-size: 1cm;
  $button-edge-dist: 1cm;
  @include ui-elements($icon-btn-font-size, $button-edge-dist);
}
