$fa-font-path: "./fonts";
@import 'font-awesome/scss/font-awesome';

@import 'mixins/hide';
@import 'mixins/icons';
@import 'mixins/responsive';
@import 'drag-and-drop';
@import 'load-default-img-dialog';
@import 'menu';
@import 'timeline';
@import 'effect-config-dialog';
@import 'recorder';

$main-text-color: #333;

html,
body {
  margin: 0px;
  padding: 0px;
  background-color: #333;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.btn-file-select {
	@include visuallyhidden;
  
  & + label {
    @include icon-button($fa-var-upload);

    text-align: center;
    position: absolute;
    display: inline-block;
    border-radius: 50%;
    border: solid 2px #eee;
  }

  &:focus + label,
  & + label:hover {
    background-color: #fff;
    border-color: $main-text-color;
    color: $main-text-color;
  }
  &:focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
  }
}

.btn-fullscreen {
  @include icon-button($fa-var-expand);
  position: absolute;
  background-color: transparent;
  border: none;
  .fullscreen &  {
     @include icon($fa-var-compress);
  }
}

.main-canvas {
  width: 100%;
  height: 100%;
  z-index: -1;
}

/*
 * Hide menu buttons on inactivity
 */
.btn-fullscreen,
.btn-file-select + label,
.toggle-menu-visible + label,
.btn-record {
  $transition-time: 1s;
  -webkit-transition: opacity $transition-time;
  transition: opacity $transition-time;
  .user-inactive & {
    opacity: 0;
  }
}
/* But not the 'close menu' button ;) */
.toggle-menu-visible:checked + label {
  opacity: 1;
}
.user-inactive * {
  cursor: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAZdEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjbQg61aAAAADUlEQVQYV2P4//8/IwAI/QL/+TZZdwAAAABJRU5ErkJggg=='),
    url(blank.cur),
    none !important;
}

/* ===================================================================
 *
 * =================================================================== */

@mixin ui-elements(
  $icon-btn-font-size,
  $button-edge-dist,
  $menu-width, /* in percent */
  $menu-height: 100%, /* in percent */
  $timeline-height: 30% /* in percent */
) {
  @include menu-responsiveness(
    $icon-btn-font-size,
    $button-edge-dist,
    $menu-width,
    $menu-height,
    $timeline-height
  );
  .btn-fullscreen {
    font-size: $icon-btn-font-size;;
    top: $button-edge-dist;
    right: $button-edge-dist;
  }
  .btn-file-select + label {
    font-size: $icon-btn-font-size;;
    
    right: $button-edge-dist;
    bottom: $button-edge-dist;

    $circle-size: 1.5 * $icon-btn-font-size;
    width: $circle-size;
    height: $circle-size;
    line-height: $circle-size;
  }
}

@include screensize(1) {
  /* smartphones, iPhone, portrait 480x320 phones */
  $icon-btn-font-size: 1.5cm;
  $button-edge-dist: 20px;
  $menu-width: 100%;
  $menu-height: 60%;
  $timeline-height: 30%;
  @include ui-elements(
    $icon-btn-font-size,
    $button-edge-dist,
    $menu-width,
    $menu-height,
    $timeline-height
  );
}
@include screensize(2) {
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
  $icon-btn-font-size: 1.5cm;
  $button-edge-dist: 20px;
  $menu-width: 100%;
  $menu-height: 60%;
  $timeline-height: 30%;
  @include ui-elements(
    $icon-btn-font-size,
    $button-edge-dist,
    $menu-width,
    $menu-height,
    $timeline-height
  );
}
@include screensize(3) {
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
  $icon-btn-font-size: 1.5cm;
  $button-edge-dist: 1.5cm;
  $menu-width: 100%;
  $menu-height: 60%;
  $timeline-height: 30%;
  @include ui-elements(
    $icon-btn-font-size,
    $button-edge-dist,
    $menu-width,
    $menu-height,
    $timeline-height
  );
}
@include screensize(4) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  $icon-btn-font-size: 1.5cm;
  $button-edge-dist: 1.5cm;
  $menu-width: 50%;
  $menu-height: 100%;
  $timeline-height: 30%;
  @include ui-elements(
    $icon-btn-font-size,
    $button-edge-dist,
    $menu-width,
    $menu-height,
    $timeline-height
  );
}
@include screensize(5) {
  /* big landscape tablets, laptops, and desktops */
  $icon-btn-font-size: 1.5cm;
  $button-edge-dist: 1cm;
  $menu-width: 40%;
  $menu-height: 100%;
  $timeline-height: 30%;
  @include ui-elements(
    $icon-btn-font-size,
    $button-edge-dist,
    $menu-width,
    $menu-height,
    $timeline-height
  );
}
@include screensize(6) {
  /* hi-res laptops and desktops */
  $icon-btn-font-size: 1cm;
  $button-edge-dist: 1cm;
  $menu-width: 30%;
  $menu-height: 100%;
  $timeline-height: 30%;
  @include ui-elements(
    $icon-btn-font-size,
    $button-edge-dist,
    $menu-width,
    $menu-height,
    $timeline-height
  );
}

@import 'effects/change-image';
