@mixin vCenterText {
  &:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    width: 0;
  }
}

@mixin center-box($w: 50%, $h: 50%) {
  position: absolute;
  top: 50%;
  left: 50%;
  width: $w;
  height: $h;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
