@mixin backdrop() {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 4;
}

@mixin modal() {
  position: absolute;
  width: 50%;
  height: 50%;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #eee;
  padding: 20px;
  z-index: 5;
}
